{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:json/recommended",
    "plugin:promise/recommended",
    "plugin:node/recommended"
  ],
  "plugins": ["jest", "json", "promise"],
  "env": {
    "jest/globals": true,
    "ecmaVersion": 2020
  }
}
